# 5. Lists

## Exercise 5.1.

Create the following list:

```
colours = ['green','blue','red']
```

Add the colours 'orange' and 'yellow' to this list.

In [1]:
colours = ['green','blue','red']

colours.append('orange')
colours.append('yellow')

## Exercise 5.2.

Create two lists:

`
first = [4, 9, 1, 17, 11, 26, 28, 54, 63] 
second = [8, 9, 74, 21, 45, 11, 63, 28, 26] 
`

Write code which can extract those numbers from the first list which are NOT in the second list.

In [ ]:
first = [4, 9, 1, 17, 11, 26, 28, 54, 63] 
second = [8, 9, 74, 21, 45, 11, 63, 28, 26]

for f in first:
    if f not in second:
        print(f)

## Exercise 5.3.

The list below contains the titles of first twelve plays written by William Shakespeare.

```
plays = [ 'Comedy of Errors' ,
'Henry VI, Part I' ,
'Henry VI, Part II' ,
'Henry VI, Part III' ,
'Richard III' ,
'Taming of the Shrew' ,
'Titus Andronicus' ,
'Romeo and Juliet' ,
'Two Gentlemen of Verona' ,
'Love\'s Labour\'s Lost' ,
'Richard II' ,
'Midsummer Night\'s Dream' ]```

Add the following two titles to this list:
 
* Macbeth
* Othello

Next, count the number of plays in this list and print the titles of the first and the last plays in the list, using the index of these items. 
Print the full list in alphabetical order using the ‘for’ keyword.

In [ ]:
plays = [ 'Comedy of Errors' ,
'Henry VI, Part I' ,
'Henry VI, Part II' ,
'Henry VI, Part III' ,
'Richard III' ,
'Taming of the Shrew' ,
'Titus Andronicus' ,
'Romeo and Juliet' ,
'Two Gentlemen of Verona' ,
'Love\'s Labour\'s Lost' ,
'Richard II' ,
'Midsummer Night\'s Dream' ]

plays.append('Macbeth')
plays.append('Othello')
plays.append('Romeo and Juliet')
plays.append('Timon of Athens')
plays.append('Titus Andronicus')

print( 'This list contains {} plays.'.format( len(plays) ) )
print( "The first play in the list is '{}'.".format( plays[0] ) )
print( "The last play in the list is '{}'.".format( plays[-1] ) )

for p in sorted(plays):
    print(p)

## Exercise 5.4.

Copy the code below.

```
sites = [ 'https://www.universiteitleiden.nl' , 'https://www.stanford.edu' , 'https://www.uu.nl' , 'http://www.ox.ac.uk' , 'https://www.rug.nl' , 'https://www.hu-berlin.de' , 'https://www.uva.nl' ]
```

Write some additional code which can select the Dutch websites from this list.
Tip: You may want to reuse some of the code developed for  exercise 3.4.

In [ ]:
sites = [ 'https://www.universiteitleiden.nl' , 'https://www.stanford.edu' , 'https://www.uu.nl' , 'http://www.ox.ac.uk' , 'https://www.rug.nl' , 'https://www.hu-berlin.de' , 'https://www.uva.nl' ]

for url in sites:
    tdl = url[ url.rindex('.') + 1 : len(url) ]
    if tdl == 'nl':
        print(url)

## Exercise 5.5


Define a Python list named `years`, containing the following values:

`
years = [ 1756, 1575, 2002, 1984 ,1626 ,1791, 1714, 1873, 1991 ]
`

Use the keywords `for` and `if` to select years that are in the 18th century. 
Note that, after `if`, you can combine multiple Boolean expressions using `and`.

In [1]:
years = [ 1756, 1575, 2002, 1984 ,1626 ,1791, 1714, 1873, 1991 ]

for year in years:
    if year >= 1700 and year < 1800:
        print(year)

1756
1791
1714

## Exercise 5.6.

Convert the following quotation from E.M. Forster’s *A Room with a View* to a list of words, using the `split()` method. This function can convert a string into a list, based on the spaces that occur in this string. Use this list to give information about the total number of words in this quote. Print the last word in teh quote, and count the number of occurrences of the word “place”.

```quote = "We cast a shadow on something wherever we stand, and it is no good moving from place to place to save things; because the shadow always follows. Choose a place where you won’t do harm - yes, choose a place where you won’t do very much harm, and stand in it for all you are worth, facing the sunshine."
```

In [5]:
quote = "We cast a shadow on something wherever we stand, and it is no good moving from place to place to save things; because the shadow always follows. Choose a place where you won’t do harm - yes, choose a place where you won’t do very much harm, and stand in it for all you are worth, facing the sunshine."

words = quote.split(' ')
print( f'The quote contains {len(words)} words.' ) 

print( f'The last word is \'{words[-1].strip(".")}\'.'  )

count = 0

for w in words:
    if w.lower() == 'place':
        count+= 1

print( f"There are {count} occurrences of the word 'place'.")

The quote contains 59 words.
The last word is 'sunshine'.
There are 4 occurrences of the word 'place'.